.home{
    background-color: #360369;
}
.Welcome{
    /* display:flex;
    align-items: center;
    justify-content: center;
    color: white; */
    position: absolute;
width: 692.27px;
height: 144px;
left: 250px;
top: 150px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 122px;
text-align: center;

color: #FFFFFF; 
}
/* Group 3 */

#btn{
position: absolute;
width: 300px;
height: 40px;
left: 450px;
top: 350px;
}


/* Weather Api */
.info{
    font-family: 'Montserrat';
    color: #FFFFFF;
}
#t1{
    font-size: 56px;
}
#t2{
    font-size: 36px;
}
.ll{
    width: 50%;
    display: flex;
    justify-content:flex-start ;
    color: #FFFFFF;
    font-family: 'Montserrat';
}
#lat,#longg{

    background: #270846;
    padding: 20px;
    margin: 10px;

}

#weather-data{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap between columns if needed */
}
.container p {
    font-family: 'Montserrat';
    color: #FFFFFF;
    background-color: #360369; 
    margin: 20px;/* Optional: Add a background color to the paragraphs */
    padding: 20px; /* Optional: Add some padding to the paragraphs */
    border: 1px solid #ccc; /* Optional: Add a border to the paragraphs */
}

#weather-heading{
    font-size: 30px;
    font-weight: 900;
    margin-left: 5%;
    padding-top: 2%;
    font-family: 'Montserrat';
    color: #360369;
}

@media screen and (max-width: 600px) {
    #weather-data{
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #FFFFFF;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5%px; /* Adjust the gap between columns if needed */
    }
    .container p {
        font-family: 'Montserrat';
        color: #FFFFFF;
        background-color: #360369; 
        margin: 2%;/* Optional: Add a background color to the paragraphs */
        padding: 2%; /* Optional: Add some padding to the paragraphs */
        border: 1px solid #ccc; /* Optional: Add a border to the paragraphs */
    }
    
    #weather-heading{
        font-size: 30px;
        font-weight: 900;
        margin-left: 5%;
        padding-top: 2%;
        font-family: 'Montserrat';
        color: #360369;
    }
}

